.logos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logos img {
    height: 200px;
}

.logos #mlh {
    padding: 30px;
}

#main-feed {
    width: 90%;
    padding-left: 5%;
}

#main-feed>p {
    margin-top: 50px;
    margin-bottom: 50px;
}

#main-feed .sources {
    display: flex;
    /* text-align: center; */
    width: 80%;
    margin-left: 13%;
    justify-content: space-around;
    /* align-items: center; */
    margin-bottom: 50px;
}

h2 {
    width: 100%;
    text-align: center;
}
/* #main-feed .sources .contributers {
    text-align: left;
} */

#main-feed .sources img {
    height: 100px;
}

#main-feed .sources #devpost img {
    padding: 20px;
}
