
#main-feed > h1 {
    color: #333;
    margin-top: 100px;
    margin-bottom: 10px;
    text-align: center;
}

#title {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
}

#description {
    color: #555;
    font-size: 1em;
    margin-bottom: 15px;
}

#people {
    color: #777;
    font-size: .8em;
    padding-right: 20px;
    display:inline-block;
}
#people > a {
    color: #777;
    font-size: .9em;
    margin: 0px 20px;
    display:inline-block;
}

#main-feed-scroller {
    margin: 4px, 4px;
    padding: 4px;
    margin: auto;
    width: 75%;
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}
